/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
   

  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1062a6;
    color:#1062a6;
    border-bottom: 1px solid #eaeaea;
  }
  
  .navbar-left .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
  }
  
  .navbar-left .logo-image {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-right .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right .nav-links li {
    position: relative;
  }
  
  .navbar-right .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar-right .button:hover {
    color: #fff;
  }
   .nav-links a:hover {
    color: #ADD8E6;
  }
  
  .navbar-right .get-started {
    color: #fff; /* Text is white */
    font-weight: bold;
    border: 1px solid #2e86c1;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: transparent; /* Initial background transparent */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  }
  
  .navbar-right .get-started:hover {
    background-color:#2e86c1; /* Purple background */
    color: #fff; /* White text */
    cursor:pointer;
  }
  
  /* Dropdown Menu Styles */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2471a3;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin: 5px 0;
    width: 300px; /* Increased width for descriptive text */
    z-index: 10;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #000;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    color: #5a2ed4;
  }
  
  .dropdown-menu li strong {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
  }
  
  .dropdown-menu li br {
    line-height: 0.5rem;
  }
  
  .dropdown-menu li a:hover strong {
    color: #5a2ed4;
  }
  